.slider {
    position: relative;
    margin: 0 auto;
    width: 70vw;
    height: 300px;
    margin-bottom: 50px;
    overflow: hidden;
  }
  
  .slider__line {
    height: 300px;
    width: 70vw;
    display: flex;
    position: absolute;
    right: 70vw;
    transition: all 0.4s ease;
  }
  
  .slider__img {
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider__left {
    width: 100px;
    height: 100px;
    background-color: #9e1717;
  }
  
  .slider__right {
    width: 100px;
    height: 100px;
    background-color: #229e17;
  }

